.core-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.3s, color 0.3s;

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
